@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "LeaguaGothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LeagueGothic/LeagueGothic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothic/LeagueGothic-Regular.woff") format("woff"), url("../fonts/LeagueGothic/LeagueGothic-Regular.ttf") format("truetype"); }
